/* new font */
@font-face {
  font-family: "Apfel Grotezk";
  src: url(/public/ApfelGrotezk-Regular.otf);
}

@font-face {
  font-family: "Combine";
  src: url(/public/Combine.otf);
  font-weight: bold;
}
body {
  margin: 0;
  overflow: hidden;
  /* Prevent body scrolling */
  height: 100vh;
  display: flex;
  background: linear-gradient(180deg, #ffffff 10%, #3235ff 100%);
  justify-content: center;
  align-items: center;
  font-family: "Apfel Grotezk", sans-serif;
  /*gradient as background*/
  transition: all 1s; /* Smooth transition for background changes */
}

#reading-phase {
  fill: #3235ff;
}

#text-read {
  position: absolute;
  line-height: 2.5vh;
  top: 18%;
  left: 50%;
  width: 95vw;
  height: 20vh;
  font-size: 1.3vw;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

#flashText {
  font-weight: 600;
  font-size: 12vw;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
}

.flashText-1,
.flashText-2,
.flashText-3,
.flashText-4,
.flashText-5,
.flashText-6,
.flashText-7,
.flashText-8,
.flashText-9 {
  margin-top: 3vh;
  text-transform: lowercase;
}

.flashText-1-small,
.flashText-2-small,
.flashText-3-small,
.flashText-4-small,
.flashText-5-small,
.flashText-6-small,
.flashText-7-small,
.flashText-8-small,
.flashText-9-small {
  text-transform: lowercase;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.flashText-1 {
  font-family: "Combine", sans-serif;
  font-size: 7vw;
  text-shadow: 0px 20px 0.02px #8dfff9, 19.6px 4.2px 0.02px #8dfff9,
    8.4px -18.2px 0.02px #8dfff9, -16px -12px 0.02px #8dfff9,
    -15.2px 13px 0.02px #8dfff9, 9.6px 17.6px 0.02px #8dfff9,
    19.2px -5.6px 0.02px #8dfff9, -1.4px -20px 0.02px #8dfff9,
    -19.8px -3px 0.02px #8dfff9, -7px 18.8px 0.02px #8dfff9,
    16.8px 10.8px 0.02px #8dfff9, 14.2px -14px 0.02px #8dfff9,
    -10.8px -16.8px 0.02px #8dfff9, -18.8px 7px 0.02px #8dfff9,
    2.8px 19.8px 0.02px #8dfff9, 20px 1.6px 0.02px #8dfff9,
    5.8px -19.2px 0.02px #8dfff9, -17.4px -9.6px 0.02px #8dfff9,
    -13.2px 15px 0.02px #8dfff9, 11.8px 16px 0.02px #8dfff9,
    18.2px -8.2px 0.02px #8dfff9, -4.2px -19.6px 0.02px #8dfff9,
    -20px -0.2px 0.02px #8dfff9, -4.4px 19.6px 0.02px #8dfff9,
    18.2px 8.4px 0.02px #8dfff9, 12.2px -16px 0.02px #8dfff9,
    -13px -15.2px 0.02px #8dfff9, -17.6px 9.4px 0.02px #8dfff9,
    5.4px 19.2px 0.02px #8dfff9, 20px -1.2px 0.02px #8dfff9,
    3px -19.8px 0.02px #8dfff9, -18.6px -7.2px 0.02px #8dfff9,
    -11px 16.8px 0.02px #8dfff9, 14px 14.4px 0.02px #8dfff9,
    17px -10.6px 0.02px #8dfff9, -6.8px -18.8px 0.02px #8dfff9,
    -19.8px 2.6px 0.02px #8dfff9, -1.6px 20px 0.02px #8dfff9,
    19.2px 5.8px 0.02px #8dfff9, 9.8px -17.4px 0.02px #8dfff9,
    -15px -13.4px 0.02px #8dfff9, -16.2px 11.8px 0.02px #8dfff9,
    8px 18.4px 0.02px #8dfff9, 19.6px -4px 0.02px #8dfff9,
    0.4px -20px 0.02px #8dfff9, -19.4px -4.6px 0.02px #8dfff9,
    -8.6px 18px 0.02px #8dfff9, 15.8px 12.2px 0.02px #8dfff9;
  /* background-color: #798fff; */
  color: #00d7cc;
}

.flashText-1-small {
  /* smaller text-shadow */
  font-family: "Combine", sans-serif;
  font-size: 1vw;
  text-transform: lowercase;
  text-shadow: 0px 5px 0.005px #8dfff9, 4.9px 1.05px 0.005px #8dfff9,
    2.1px -4.55px 0.005px #8dfff9, -4px -3px 0.005px #8dfff9,
    -3.8px 3.25px 0.005px #8dfff9, 2.4px 4.4px 0.005px #8dfff9,
    4.8px -1.4px 0.005px #8dfff9, -0.35px -5px 0.005px #8dfff9,
    -4.95px -0.75px 0.005px #8dfff9, -1.75px 4.7px 0.005px #8dfff9,
    4.2px 2.7px 0.005px #8dfff9, 3.55px -3.5px 0.005px #8dfff9,
    -2.7px -4.2px 0.005px #8dfff9, -4.7px 1.75px 0.005px #8dfff9,
    0.7px 4.95px 0.005px #8dfff9, 5px 0.4px 0.005px #8dfff9,
    1.45px -4.8px 0.005px #8dfff9, -4.35px -2.4px 0.005px #8dfff9,
    -3.3px 3.75px 0.005px #8dfff9, 2.95px 4px 0.005px #8dfff9,
    4.55px -2.05px 0.005px #8dfff9, -1.05px -4.9px 0.005px #8dfff9,
    -5px -0.05px 0.005px #8dfff9, -1.1px 4.9px 0.005px #8dfff9,
    4.55px 2.1px 0.005px #8dfff9, 3.05px -4px 0.005px #8dfff9,
    -3.25px -3.8px 0.005px #8dfff9, -4.4px 2.35px 0.005px #8dfff9,
    1.35px 4.8px 0.005px #8dfff9, 5px -0.3px 0.005px #8dfff9,
    0.75px -4.95px 0.005px #8dfff9, -4.65px -1.8px 0.005px #8dfff9,
    -2.75px 4.2px 0.005px #8dfff9, 3.5px 3.6px 0.005px #8dfff9,
    4.25px -2.65px 0.005px #8dfff9, -1.7px -4.7px 0.005px #8dfff9,
    -4.95px 1.3px 0.005px #8dfff9, -0.8px 5px 0.005px #8dfff9,
    4.8px 1.45px 0.005px #8dfff9, 2.45px -4.35px 0.005px #8dfff9,
    -3.5px -2.7px 0.005px #8dfff9, -4.05px 2.95px 0.005px #8dfff9,
    2px 4.6px 0.005px #8dfff9, 4.9px -2px 0.005px #8dfff9,
    0.2px -5px 0.005px #8dfff9, -4.85px -1.15px 0.005px #8dfff9,
    -2.15px 4.5px 0.005px #8dfff9, 3.95px 3.05px 0.005px #8dfff9;
  color: #00d7cc;
}

.flashText-2 {
  font-family: "Combine", sans-serif;
  font-size: 7vw;
  text-shadow: 0px 20px 0.02px #ffc57a, 19.6px 4.2px 0.02px #ffc57a,
    8.4px -18.2px 0.02px #ffc57a, -16px -12px 0.02px #ffc57a,
    -15.2px 13px 0.02px #ffc57a, 9.6px 17.6px 0.02px #ffc57a,
    19.2px -5.6px 0.02px #ffc57a, -1.4px -20px 0.02px #ffc57a,
    -19.8px -3px 0.02px #ffc57a, -7px 18.8px 0.02px #ffc57a,
    16.8px 10.8px 0.02px #ffc57a, 14.2px -14px 0.02px #ffc57a,
    -10.8px -16.8px 0.02px #ffc57a, -18.8px 7px 0.02px #ffc57a,
    2.8px 19.8px 0.02px #ffc57a, 20px 1.6px 0.02px #ffc57a,
    5.8px -19.2px 0.02px #ffc57a, -17.4px -9.6px 0.02px #ffc57a,
    -13.2px 15px 0.02px #ffc57a, 11.8px 16px 0.02px #ffc57a,
    18.2px -8.2px 0.02px #ffc57a, -4.2px -19.6px 0.02px #ffc57a,
    -20px -0.2px 0.02px #ffc57a, -4.4px 19.6px 0.02px #ffc57a,
    18.2px 8.4px 0.02px #ffc57a, 12.2px -16px 0.02px #ffc57a,
    -13px -15.2px 0.02px #ffc57a, -17.6px 9.4px 0.02px #ffc57a,
    5.4px 19.2px 0.02px #ffc57a, 20px -1.2px 0.02px #ffc57a,
    3px -19.8px 0.02px #ffc57a, -18.6px -7.2px 0.02px #ffc57a,
    -11px 16.8px 0.02px #ffc57a, 14px 14.4px 0.02px #ffc57a,
    17px -10.6px 0.02px #ffc57a, -6.8px -18.8px 0.02px #ffc57a,
    -19.8px 2.6px 0.02px #ffc57a, -1.6px 20px 0.02px #ffc57a,
    19.2px 5.8px 0.02px #ffc57a, 9.8px -17.4px 0.02px #ffc57a,
    -15px -13.4px 0.02px #ffc57a, -16.2px 11.8px 0.02px #ffc57a,
    8px 18.4px 0.02px #ffc57a, 19.6px -4px 0.02px #ffc57a,
    0.4px -20px 0.02px #ffc57a, -19.4px -4.6px 0.02px #ffc57a,
    -8.6px 18px 0.02px #ffc57a, 15.8px 12.2px 0.02px #ffc57a;
  color: #ff8800;
}

.flashText-2-small {
  /* smaller text-shadow */
  font-family: "Combine", sans-serif;
  font-size: 1vw;
  text-shadow: 0px 5px 0.005px #ffc57a, 4.9px 1.05px 0.005px #ffc57a,
    2.1px -4.55px 0.005px #ffc57a, -4px -3px 0.005px #ffc57a,
    -3.8px 3.25px 0.005px #ffc57a, 2.4px 4.4px 0.005px #ffc57a,
    4.8px -1.4px 0.005px #ffc57a, -0.35px -5px 0.005px #ffc57a,
    -4.95px -0.75px 0.005px #ffc57a, -1.75px 4.7px 0.005px #ffc57a,
    4.2px 2.7px 0.005px #ffc57a, 3.55px -3.5px 0.005px #ffc57a,
    -2.7px -4.2px 0.005px #ffc57a, -4.7px 1.75px 0.005px #ffc57a,
    0.7px 4.95px 0.005px #ffc57a, 5px 0.4px 0.005px #ffc57a,
    1.45px -4.8px 0.005px #ffc57a, -4.35px -2.4px 0.005px #ffc57a,
    -3.3px 3.75px 0.005px #ffc57a, 2.95px 4px 0.005px #ffc57a,
    4.55px -2.05px 0.005px #ffc57a, -1.05px -4.9px 0.005px #ffc57a,
    -5px -0.05px 0.005px #ffc57a, -1.1px 4.9px 0.005px #ffc57a,
    4.55px 2.1px 0.005px #ffc57a, 3.05px -4px 0.005px #ffc57a,
    -3.25px -3.8px 0.005px #ffc57a, -4.4px 2.35px 0.005px #ffc57a,
    1.35px 4.8px 0.005px #ffc57a, 5px -0.3px 0.005px #ffc57a,
    0.75px -4.95px 0.005px #ffc57a, -4.65px -1.8px 0.005px #ffc57a,
    -2.75px 4.2px 0.005px #ffc57a, 3.5px 3.6px 0.005px #ffc57a,
    4.25px -2.65px 0.005px #ffc57a, -1.7px -4.7px 0.005px #ffc57a,
    -4.95px 1.3px 0.005px #ffc57a, -0.8px 5px 0.005px #ffc57a,
    4.8px 1.45px 0.005px #ffc57a, 2.45px -4.35px 0.005px #ffc57a,
    -3.5px -2.7px 0.005px #ffc57a, -4.05px 2.95px 0.005px #ffc57a,
    2px 4.6px 0.005px #ffc57a, 4.9px -2px 0.005px #ffc57a,
    0.2px -5px 0.005px #ffc57a, -4.85px -1.15px 0.005px #ffc57a,
    -2.15px 4.5px 0.005px #ffc57a, 3.95px 3.05px 0.005px #ffc57a;
  color: #ff8800;
}

.flashText-3 {
  font-family: "Combine", sans-serif;
  font-size: 7vw;
  text-shadow: 0px 20px 0.02px #9e93ff, 19.6px 4.2px 0.02px #9e93ff,
    8.4px -18.2px 0.02px #9e93ff, -16px -12px 0.02px #9e93ff,
    -15.2px 13px 0.02px #9e93ff, 9.6px 17.6px 0.02px #9e93ff,
    19.2px -5.6px 0.02px #9e93ff, -1.4px -20px 0.02px #9e93ff,
    -19.8px -3px 0.02px #9e93ff, -7px 18.8px 0.02px #9e93ff,
    16.8px 10.8px 0.02px #9e93ff, 14.2px -14px 0.02px #9e93ff,
    -10.8px -16.8px 0.02px #9e93ff, -18.8px 7px 0.02px #9e93ff,
    2.8px 19.8px 0.02px #9e93ff, 20px 1.6px 0.02px #9e93ff,
    5.8px -19.2px 0.02px #9e93ff, -17.4px -9.6px 0.02px #9e93ff,
    -13.2px 15px 0.02px #9e93ff, 11.8px 16px 0.02px #9e93ff,
    18.2px -8.2px 0.02px #9e93ff, -4.2px -19.6px 0.02px #9e93ff,
    -20px -0.2px 0.02px #9e93ff, -4.4px 19.6px 0.02px #9e93ff,
    18.2px 8.4px 0.02px #9e93ff, 12.2px -16px 0.02px #9e93ff,
    -13px -15.2px 0.02px #9e93ff, -17.6px 9.4px 0.02px #9e93ff,
    5.4px 19.2px 0.02px #9e93ff, 20px -1.2px 0.02px #9e93ff,
    3px -19.8px 0.02px #9e93ff, -18.6px -7.2px 0.02px #9e93ff,
    -11px 16.8px 0.02px #9e93ff, 14px 14.4px 0.02px #9e93ff,
    17px -10.6px 0.02px #9e93ff, -6.8px -18.8px 0.02px #9e93ff,
    -19.8px 2.6px 0.02px #9e93ff, -1.6px 20px 0.02px #9e93ff,
    19.2px 5.8px 0.02px #9e93ff, 9.8px -17.4px 0.02px #9e93ff,
    -15px -13.4px 0.02px #9e93ff, -16.2px 11.8px 0.02px #9e93ff,
    8px 18.4px 0.02px #9e93ff, 19.6px -4px 0.02px #9e93ff,
    0.4px -20px 0.02px #9e93ff, -19.4px -4.6px 0.02px #9e93ff,
    -8.6px 18px 0.02px #9e93ff, 15.8px 12.2px 0.02px #9e93ff;
  color: #593cff;
}

.flashText-3-small {
  /* smaller text-shadow */
  font-family: "Combine", sans-serif;
  font-size: 1vw;
  text-shadow: 0px 5px 0.005px #9e93ff, 4.9px 1.05px 0.005px #9e93ff,
    2.1px -4.55px 0.005px #9e93ff, -4px -3px 0.005px #9e93ff,
    -3.8px 3.25px 0.005px #9e93ff, 2.4px 4.4px 0.005px #9e93ff,
    4.8px -1.4px 0.005px #9e93ff, -0.35px -5px 0.005px #9e93ff,
    -4.95px -0.75px 0.005px #9e93ff, -1.75px 4.7px 0.005px #9e93ff,
    4.2px 2.7px 0.005px #9e93ff, 3.55px -3.5px 0.005px #9e93ff,
    -2.7px -4.2px 0.005px #9e93ff, -4.7px 1.75px 0.005px #9e93ff,
    0.7px 4.95px 0.005px #9e93ff, 5px 0.4px 0.005px #9e93ff,
    1.45px -4.8px 0.005px #9e93ff, -4.35px -2.4px 0.005px #9e93ff,
    -3.3px 3.75px 0.005px #9e93ff, 2.95px 4px 0.005px #9e93ff,
    4.55px -2.05px 0.005px #9e93ff, -1.05px -4.9px 0.005px #9e93ff,
    -5px -0.05px 0.005px #9e93ff, -1.1px 4.9px 0.005px #9e93ff,
    4.55px 2.1px 0.005px #9e93ff, 3.05px -4px 0.005px #9e93ff,
    -3.25px -3.8px 0.005px #9e93ff, -4.4px 2.35px 0.005px #9e93ff,
    1.35px 4.8px 0.005px #9e93ff, 5px -0.3px 0.005px #9e93ff,
    0.75px -4.95px 0.005px #9e93ff, -4.65px -1.8px 0.005px #9e93ff,
    -2.75px 4.2px 0.005px #9e93ff, 3.5px 3.6px 0.005px #9e93ff,
    4.25px -2.65px 0.005px #9e93ff, -1.7px -4.7px 0.005px #9e93ff,
    -4.95px 1.3px 0.005px #9e93ff, -0.8px 5px 0.005px #9e93ff,
    4.8px 1.45px 0.005px #9e93ff, 2.45px -4.35px 0.005px #9e93ff,
    -3.5px -2.7px 0.005px #9e93ff, -4.05px 2.95px 0.005px #9e93ff,
    2px 4.6px 0.005px #9e93ff, 4.9px -2px 0.005px #9e93ff,
    0.2px -5px 0.005px #9e93ff, -4.85px -1.15px 0.005px #9e93ff,
    -2.15px 4.5px 0.005px #9e93ff, 3.95px 3.05px 0.005px #9e93ff;
  color: #593cff;
}

.flashText-4 {
  font-family: "Combine", sans-serif;
  font-size: 7vw;
  text-shadow: 0px 20px 0.02px #ff9dba, 19.6px 4.2px 0.02px #ff9dba,
    8.4px -18.2px 0.02px #ff9dba, -16px -12px 0.02px #ff9dba,
    -15.2px 13px 0.02px #ff9dba, 9.6px 17.6px 0.02px #ff9dba,
    19.2px -5.6px 0.02px #ff9dba, -1.4px -20px 0.02px #ff9dba,
    -19.8px -3px 0.02px #ff9dba, -7px 18.8px 0.02px #ff9dba,
    16.8px 10.8px 0.02px #ff9dba, 14.2px -14px 0.02px #ff9dba,
    -10.8px -16.8px 0.02px #ff9dba, -18.8px 7px 0.02px #ff9dba,
    2.8px 19.8px 0.02px #ff9dba, 20px 1.6px 0.02px #ff9dba,
    5.8px -19.2px 0.02px #ff9dba, -17.4px -9.6px 0.02px #ff9dba,
    -13.2px 15px 0.02px #ff9dba, 11.8px 16px 0.02px #ff9dba,
    18.2px -8.2px 0.02px #ff9dba, -4.2px -19.6px 0.02px #ff9dba,
    -20px -0.2px 0.02px #ff9dba, -4.4px 19.6px 0.02px #ff9dba,
    18.2px 8.4px 0.02px #ff9dba, 12.2px -16px 0.02px #ff9dba,
    -13px -15.2px 0.02px #ff9dba, -17.6px 9.4px 0.02px #ff9dba,
    5.4px 19.2px 0.02px #ff9dba, 20px -1.2px 0.02px #ff9dba,
    3px -19.8px 0.02px #ff9dba, -18.6px -7.2px 0.02px #ff9dba,
    -11px 16.8px 0.02px #ff9dba, 14px 14.4px 0.02px #ff9dba,
    17px -10.6px 0.02px #ff9dba, -6.8px -18.8px 0.02px #ff9dba,
    -19.8px 2.6px 0.02px #ff9dba, -1.6px 20px 0.02px #ff9dba,
    19.2px 5.8px 0.02px #ff9dba, 9.8px -17.4px 0.02px #ff9dba,
    -15px -13.4px 0.02px #ff9dba, -16.2px 11.8px 0.02px #ff9dba,
    8px 18.4px 0.02px #ff9dba, 19.6px -4px 0.02px #ff9dba,
    0.4px -20px 0.02px #ff9dba, -19.4px -4.6px 0.02px #ff9dba,
    -8.6px 18px 0.02px #ff9dba, 15.8px 12.2px 0.02px #ff9dba;
  color: #ff4f90;
}

.flashText-4-small {
  /* smaller text-shadow */
  font-family: "Combine", sans-serif;
  font-size: 1vw;
  text-shadow: 0px 5px 0.005px #ff9dba, 4.9px 1.05px 0.005px #ff9dba,
    2.1px -4.55px 0.005px #ff9dba, -4px -3px 0.005px #ff9dba,
    -3.8px 3.25px 0.005px #ff9dba, 2.4px 4.4px 0.005px #ff9dba,
    4.8px -1.4px 0.005px #ff9dba, -0.35px -5px 0.005px #ff9dba,
    -4.95px -0.75px 0.005px #ff9dba, -1.75px 4.7px 0.005px #ff9dba,
    4.2px 2.7px 0.005px #ff9dba, 3.55px -3.5px 0.005px #ff9dba,
    -2.7px -4.2px 0.005px #ff9dba, -4.7px 1.75px 0.005px #ff9dba,
    0.7px 4.95px 0.005px #ff9dba, 5px 0.4px 0.005px #ff9dba,
    1.45px -4.8px 0.005px #ff9dba, -4.35px -2.4px 0.005px #ff9dba,
    -3.3px 3.75px 0.005px #ff9dba, 2.95px 4px 0.005px #ff9dba,
    4.55px -2.05px 0.005px #ff9dba, -1.05px -4.9px 0.005px #ff9dba,
    -5px -0.05px 0.005px #ff9dba, -1.1px 4.9px 0.005px #ff9dba,
    4.55px 2.1px 0.005px #ff9dba, 3.05px -4px 0.005px #ff9dba,
    -3.25px -3.8px 0.005px #ff9dba, -4.4px 2.35px 0.005px #ff9dba,
    1.35px 4.8px 0.005px #ff9dba, 5px -0.3px 0.005px #ff9dba,
    0.75px -4.95px 0.005px #ff9dba, -4.65px -1.8px 0.005px #ff9dba,
    -2.75px 4.2px 0.005px #ff9dba, 3.5px 3.6px 0.005px #ff9dba,
    4.25px -2.65px 0.005px #ff9dba, -1.7px -4.7px 0.005px #ff9dba,
    -4.95px 1.3px 0.005px #ff9dba, -0.8px 5px 0.005px #ff9dba,
    4.8px 1.45px 0.005px #ff9dba, 2.45px -4.35px 0.005px #ff9dba,
    -3.5px -2.7px 0.005px #ff9dba, -4.05px 2.95px 0.005px #ff9dba,
    2px 4.6px 0.005px #ff9dba, 4.9px -2px 0.005px #ff9dba,
    0.2px -5px 0.005px #ff9dba, -4.85px -1.15px 0.005px #ff9dba,
    -2.15px 4.5px 0.005px #ff9dba, 3.95px 3.05px 0.005px #ff9dba;
  color: #ff4f90;
}

.flashText-5 {
  font-family: "Combine", sans-serif;
  font-size: 7vw;
  width: max-content;
  text-shadow: 0px 20px 0.02px #daffac, 19.6px 4.2px 0.02px #daffac,
    8.4px -18.2px 0.02px #daffac, -16px -12px 0.02px #daffac,
    -15.2px 13px 0.02px #daffac, 9.6px 17.6px 0.02px #daffac,
    19.2px -5.6px 0.02px #daffac, -1.4px -20px 0.02px #daffac,
    -19.8px -3px 0.02px #daffac, -7px 18.8px 0.02px #daffac,
    16.8px 10.8px 0.02px #daffac, 14.2px -14px 0.02px #daffac,
    -10.8px -16.8px 0.02px #daffac, -18.8px 7px 0.02px #daffac,
    2.8px 19.8px 0.02px #daffac, 20px 1.6px 0.02px #daffac,
    5.8px -19.2px 0.02px #daffac, -17.4px -9.6px 0.02px #daffac,
    -13.2px 15px 0.02px #daffac, 11.8px 16px 0.02px #daffac,
    18.2px -8.2px 0.02px #daffac, -4.2px -19.6px 0.02px #daffac,
    -20px -0.2px 0.02px #daffac, -4.4px 19.6px 0.02px #daffac,
    18.2px 8.4px 0.02px #daffac, 12.2px -16px 0.02px #daffac,
    -13px -15.2px 0.02px #daffac, -17.6px 9.4px 0.02px #daffac,
    5.4px 19.2px 0.02px #daffac, 20px -1.2px 0.02px #daffac,
    3px -19.8px 0.02px #daffac, -18.6px -7.2px 0.02px #daffac,
    -11px 16.8px 0.02px #daffac, 14px 14.4px 0.02px #daffac,
    17px -10.6px 0.02px #daffac, -6.8px -18.8px 0.02px #daffac,
    -19.8px 2.6px 0.02px #daffac, -1.6px 20px 0.02px #daffac,
    19.2px 5.8px 0.02px #daffac, 9.8px -17.4px 0.02px #daffac,
    -15px -13.4px 0.02px #daffac, -16.2px 11.8px 0.02px #daffac,
    8px 18.4px 0.02px #daffac, 19.6px -4px 0.02px #daffac,
    0.4px -20px 0.02px #daffac, -19.4px -4.6px 0.02px #daffac,
    -8.6px 18px 0.02px #daffac, 15.8px 12.2px 0.02px #daffac;
  color: #4ae030;
}

.flashText-5-small {
  /* smaller text-shadow */
  font-family: "Combine", sans-serif;
  font-size: 1vw;
  text-shadow: 0px 5px 0.005px #daffac, 4.9px 1.05px 0.005px #daffac,
    2.1px -4.55px 0.005px #daffac, -4px -3px 0.005px #daffac,
    -3.8px 3.25px 0.005px #daffac, 2.4px 4.4px 0.005px #daffac,
    4.8px -1.4px 0.005px #daffac, -0.35px -5px 0.005px #daffac,
    -4.95px -0.75px 0.005px #daffac, -1.75px 4.7px 0.005px #daffac,
    4.2px 2.7px 0.005px #daffac, 3.55px -3.5px 0.005px #daffac,
    -2.7px -4.2px 0.005px #daffac, -4.7px 1.75px 0.005px #daffac,
    0.7px 4.95px 0.005px #daffac, 5px 0.4px 0.005px #daffac,
    1.45px -4.8px 0.005px #daffac, -4.35px -2.4px 0.005px #daffac,
    -3.3px 3.75px 0.005px #daffac, 2.95px 4px 0.005px #daffac,
    4.55px -2.05px 0.005px #daffac, -1.05px -4.9px 0.005px #daffac,
    -5px -0.05px 0.005px #daffac, -1.1px 4.9px 0.005px #daffac,
    4.55px 2.1px 0.005px #daffac, 3.05px -4px 0.005px #daffac,
    -3.25px -3.8px 0.005px #daffac, -4.4px 2.35px 0.005px #daffac,
    1.35px 4.8px 0.005px #daffac, 5px -0.3px 0.005px #daffac,
    0.75px -4.95px 0.005px #daffac, -4.65px -1.8px 0.005px #daffac,
    -2.75px 4.2px 0.005px #daffac, 3.5px 3.6px 0.005px #daffac,
    4.25px -2.65px 0.005px #daffac, -1.7px -4.7px 0.005px #daffac,
    -4.95px 1.3px 0.005px #daffac, -0.8px 5px 0.005px #daffac,
    4.8px 1.45px 0.005px #daffac, 2.45px -4.35px 0.005px #daffac,
    -3.5px -2.7px 0.005px #daffac, -4.05px 2.95px 0.005px #daffac,
    2px 4.6px 0.005px #daffac, 4.9px -2px 0.005px #daffac,
    0.2px -5px 0.005px #daffac, -4.85px -1.15px 0.005px #daffac,
    -2.15px 4.5px 0.005px #daffac, 3.95px 3.05px 0.005px #daffac;
  color: #4ae030;
}

.flashText-6 {
  font-family: "Combine", sans-serif;
  font-size: 7vw;
  text-shadow: 0px 20px 0.02px #ffa06c, 19.6px 4.2px 0.02px #ffa06c,
    8.4px -18.2px 0.02px #ffa06c, -16px -12px 0.02px #ffa06c,
    -15.2px 13px 0.02px #ffa06c, 9.6px 17.6px 0.02px #ffa06c,
    19.2px -5.6px 0.02px #ffa06c, -1.4px -20px 0.02px #ffa06c,
    -19.8px -3px 0.02px #ffa06c, -7px 18.8px 0.02px #ffa06c,
    16.8px 10.8px 0.02px #ffa06c, 14.2px -14px 0.02px #ffa06c,
    -10.8px -16.8px 0.02px #ffa06c, -18.8px 7px 0.02px #ffa06c,
    2.8px 19.8px 0.02px #ffa06c, 20px 1.6px 0.02px #ffa06c,
    5.8px -19.2px 0.02px #ffa06c, -17.4px -9.6px 0.02px #ffa06c,
    -13.2px 15px 0.02px #ffa06c, 11.8px 16px 0.02px #ffa06c,
    18.2px -8.2px 0.02px #ffa06c, -4.2px -19.6px 0.02px #ffa06c,
    -20px -0.2px 0.02px #ffa06c, -4.4px 19.6px 0.02px #ffa06c,
    18.2px 8.4px 0.02px #ffa06c, 12.2px -16px 0.02px #ffa06c,
    -13px -15.2px 0.02px #ffa06c, -17.6px 9.4px 0.02px #ffa06c,
    5.4px 19.2px 0.02px #ffa06c, 20px -1.2px 0.02px #ffa06c,
    3px -19.8px 0.02px #ffa06c, -18.6px -7.2px 0.02px #ffa06c,
    -11px 16.8px 0.02px #ffa06c, 14px 14.4px 0.02px #ffa06c,
    17px -10.6px 0.02px #ffa06c, -6.8px -18.8px 0.02px #ffa06c,
    -19.8px 2.6px 0.02px #ffa06c, -1.6px 20px 0.02px #ffa06c,
    19.2px 5.8px 0.02px #ffa06c, 9.8px -17.4px 0.02px #ffa06c,
    -15px -13.4px 0.02px #ffa06c, -16.2px 11.8px 0.02px #ffa06c,
    8px 18.4px 0.02px #ffa06c, 19.6px -4px 0.02px #ffa06c,
    0.4px -20px 0.02px #ffa06c, -19.4px -4.6px 0.02px #ffa06c,
    -8.6px 18px 0.02px #ffa06c, 15.8px 12.2px 0.02px #ffa06c;
  color: #ef5001;
}

.flashText-6-small {
  /* smaller text-shadow */
  font-family: "Combine", sans-serif;
  font-size: 1vw;
  text-shadow: 0px 5px 0.005px #ffa06c, 4.9px 1.05px 0.005px #ffa06c,
    2.1px -4.55px 0.005px #ffa06c, -4px -3px 0.005px #ffa06c,
    -3.8px 3.25px 0.005px #ffa06c, 2.4px 4.4px 0.005px #ffa06c,
    4.8px -1.4px 0.005px #ffa06c, -0.35px -5px 0.005px #ffa06c,
    -4.95px -0.75px 0.005px #ffa06c, -1.75px 4.7px 0.005px #ffa06c,
    4.2px 2.7px 0.005px #ffa06c, 3.55px -3.5px 0.005px #ffa06c,
    -2.7px -4.2px 0.005px #ffa06c, -4.7px 1.75px 0.005px #ffa06c,
    0.7px 4.95px 0.005px #ffa06c, 5px 0.4px 0.005px #ffa06c,
    1.45px -4.8px 0.005px #ffa06c, -4.35px -2.4px 0.005px #ffa06c,
    -3.3px 3.75px 0.005px #ffa06c, 2.95px 4px 0.005px #ffa06c,
    4.55px -2.05px 0.005px #ffa06c, -1.05px -4.9px 0.005px #ffa06c,
    -5px -0.05px 0.005px #ffa06c, -1.1px 4.9px 0.005px #ffa06c,
    4.55px 2.1px 0.005px #ffa06c, 3.05px -4px 0.005px #ffa06c,
    -3.25px -3.8px 0.005px #ffa06c, -4.4px 2.35px 0.005px #ffa06c,
    1.35px 4.8px 0.005px #ffa06c, 5px -0.3px 0.005px #ffa06c,
    0.75px -4.95px 0.005px #ffa06c, -4.65px -1.8px 0.005px #ffa06c,
    -2.75px 4.2px 0.005px #ffa06c, 3.5px 3.6px 0.005px #ffa06c,
    4.25px -2.65px 0.005px #ffa06c, -1.7px -4.7px 0.005px #ffa06c,
    -4.95px 1.3px 0.005px #ffa06c, -0.8px 5px 0.005px #ffa06c,
    4.8px 1.45px 0.005px #ffa06c, 2.45px -4.35px 0.005px #ffa06c,
    -3.5px -2.7px 0.005px #ffa06c, -4.05px 2.95px 0.005px #ffa06c,
    2px 4.6px 0.005px #ffa06c, 4.9px -2px 0.005px #ffa06c,
    0.2px -5px 0.005px #ffa06c, -4.85px -1.15px 0.005px #ffa06c,
    -2.15px 4.5px 0.005px #ffa06c, 3.95px 3.05px 0.005px #ffa06c;

  color: #ef5001;
}

.flashText-7 {
  font-family: "Combine", sans-serif;
  font-size: 7vw;
  text-shadow: 0px 20px 0.02px #e281ff, 19.6px 4.2px 0.02px #e281ff,
    8.4px -18.2px 0.02px #e281ff, -16px -12px 0.02px #e281ff,
    -15.2px 13px 0.02px #e281ff, 9.6px 17.6px 0.02px #e281ff,
    19.2px -5.6px 0.02px #e281ff, -1.4px -20px 0.02px #e281ff,
    -19.8px -3px 0.02px #e281ff, -7px 18.8px 0.02px #e281ff,
    16.8px 10.8px 0.02px #e281ff, 14.2px -14px 0.02px #e281ff,
    -10.8px -16.8px 0.02px #e281ff, -18.8px 7px 0.02px #e281ff,
    2.8px 19.8px 0.02px #e281ff, 20px 1.6px 0.02px #e281ff,
    5.8px -19.2px 0.02px #e281ff, -17.4px -9.6px 0.02px #e281ff,
    -13.2px 15px 0.02px #e281ff, 11.8px 16px 0.02px #e281ff,
    18.2px -8.2px 0.02px #e281ff, -4.2px -19.6px 0.02px #e281ff,
    -20px -0.2px 0.02px #e281ff, -4.4px 19.6px 0.02px #e281ff,
    18.2px 8.4px 0.02px #e281ff, 12.2px -16px 0.02px #e281ff,
    -13px -15.2px 0.02px #e281ff, -17.6px 9.4px 0.02px #e281ff,
    5.4px 19.2px 0.02px #e281ff, 20px -1.2px 0.02px #e281ff,
    3px -19.8px 0.02px #e281ff, -18.6px -7.2px 0.02px #e281ff,
    -11px 16.8px 0.02px #e281ff, 14px 14.4px 0.02px #e281ff,
    17px -10.6px 0.02px #e281ff, -6.8px -18.8px 0.02px #e281ff,
    -19.8px 2.6px 0.02px #e281ff, -1.6px 20px 0.02px #e281ff,
    19.2px 5.8px 0.02px #e281ff, 9.8px -17.4px 0.02px #e281ff,
    -15px -13.4px 0.02px #e281ff, -16.2px 11.8px 0.02px #e281ff,
    8px 18.4px 0.02px #e281ff, 19.6px -4px 0.02px #e281ff,
    0.4px -20px 0.02px #e281ff, -19.4px -4.6px 0.02px #e281ff,
    -8.6px 18px 0.02px #e281ff, 15.8px 12.2px 0.02px #e281ff;
  color: #c617cf;
}

.flashText-7-small {
  /* smaller text-shadow */
  font-family: "Combine", sans-serif;
  font-size: 1vw;
  text-shadow: 0px 5px 0.005px #e281ff, 4.9px 1.05px 0.005px #e281ff,
    2.1px -4.55px 0.005px #e281ff, -4px -3px 0.005px #e281ff,
    -3.8px 3.25px 0.005px #e281ff, 2.4px 4.4px 0.005px #e281ff,
    4.8px -1.4px 0.005px #e281ff, -0.35px -5px 0.005px #e281ff,
    -4.95px -0.75px 0.005px #e281ff, -1.75px 4.7px 0.005px #e281ff,
    4.2px 2.7px 0.005px #e281ff, 3.55px -3.5px 0.005px #e281ff,
    -2.7px -4.2px 0.005px #e281ff, -4.7px 1.75px 0.005px #e281ff,
    0.7px 4.95px 0.005px #e281ff, 5px 0.4px 0.005px #e281ff,
    1.45px -4.8px 0.005px #e281ff, -4.35px -2.4px 0.005px #e281ff,
    -3.3px 3.75px 0.005px #e281ff, 2.95px 4px 0.005px #e281ff,
    4.55px -2.05px 0.005px #e281ff, -1.05px -4.9px 0.005px #e281ff,
    -5px -0.05px 0.005px #e281ff, -1.1px 4.9px 0.005px #e281ff,
    4.55px 2.1px 0.005px #e281ff, 3.05px -4px 0.005px #e281ff,
    -3.25px -3.8px 0.005px #e281ff, -4.4px 2.35px 0.005px #e281ff,
    1.35px 4.8px 0.005px #e281ff, 5px -0.3px 0.005px #e281ff,
    0.75px -4.95px 0.005px #e281ff, -4.65px -1.8px 0.005px #e281ff,
    -2.75px 4.2px 0.005px #e281ff, 3.5px 3.6px 0.005px #e281ff,
    4.25px -2.65px 0.005px #e281ff, -1.7px -4.7px 0.005px #e281ff,
    -4.95px 1.3px 0.005px #e281ff, -0.8px 5px 0.005px #e281ff,
    4.8px 1.45px 0.005px #e281ff, 2.45px -4.35px 0.005px #e281ff,
    -3.5px -2.7px 0.005px #e281ff, -4.05px 2.95px 0.005px #e281ff,
    2px 4.6px 0.005px #e281ff, 4.9px -2px 0.005px #e281ff,
    0.2px -5px 0.005px #e281ff, -4.85px -1.15px 0.005px #e281ff,
    -2.15px 4.5px 0.005px #e281ff, 3.95px 3.05px 0.005px #e281ff;
  color: #c617cf;
}

.flashText-8 {
  font-family: "Combine", sans-serif;
  font-size: 7vw;
  text-shadow: 0px 20px 0.02px #ba7aff, 19.6px 4.2px 0.02px #ba7aff,
    8.4px -18.2px 0.02px #ba7aff, -16px -12px 0.02px #ba7aff,
    -15.2px 13px 0.02px #ba7aff, 9.6px 17.6px 0.02px #ba7aff,
    19.2px -5.6px 0.02px #ba7aff, -1.4px -20px 0.02px #ba7aff,
    -19.8px -3px 0.02px #ba7aff, -7px 18.8px 0.02px #ba7aff,
    16.8px 10.8px 0.02px #ba7aff, 14.2px -14px 0.02px #ba7aff,
    -10.8px -16.8px 0.02px #ba7aff, -18.8px 7px 0.02px #ba7aff,
    2.8px 19.8px 0.02px #ba7aff, 20px 1.6px 0.02px #ba7aff,
    5.8px -19.2px 0.02px #ba7aff, -17.4px -9.6px 0.02px #ba7aff,
    -13.2px 15px 0.02px #ba7aff, 11.8px 16px 0.02px #ba7aff,
    18.2px -8.2px 0.02px #ba7aff, -4.2px -19.6px 0.02px #ba7aff,
    -20px -0.2px 0.02px #ba7aff, -4.4px 19.6px 0.02px #ba7aff,
    18.2px 8.4px 0.02px #ba7aff, 12.2px -16px 0.02px #ba7aff,
    -13px -15.2px 0.02px #ba7aff, -17.6px 9.4px 0.02px #ba7aff,
    5.4px 19.2px 0.02px #ba7aff, 20px -1.2px 0.02px #ba7aff,
    3px -19.8px 0.02px #ba7aff, -18.6px -7.2px 0.02px #ba7aff,
    -11px 16.8px 0.02px #ba7aff, 14px 14.4px 0.02px #ba7aff,
    17px -10.6px 0.02px #ba7aff, -6.8px -18.8px 0.02px #ba7aff,
    -19.8px 2.6px 0.02px #ba7aff, -1.6px 20px 0.02px #ba7aff,
    19.2px 5.8px 0.02px #ba7aff, 9.8px -17.4px 0.02px #ba7aff,
    -15px -13.4px 0.02px #ba7aff, -16.2px 11.8px 0.02px #ba7aff,
    8px 18.4px 0.02px #ba7aff, 19.6px -4px 0.02px #ba7aff,
    0.4px -20px 0.02px #ba7aff, -19.4px -4.6px 0.02px #ba7aff,
    -8.6px 18px 0.02px #ba7aff, 15.8px 12.2px 0.02px #ba7aff;
  color: #6a00da;
}

.flashText-8-small {
  /* smaller text-shadow */
  font-family: "Combine", sans-serif;
  font-size: 1vw;
  text-shadow: 0px 5px 0.005px #ba7aff, 4.9px 1.05px 0.005px #ba7aff,
    2.1px -4.55px 0.005px #ba7aff, -4px -3px 0.005px #ba7aff,
    -3.8px 3.25px 0.005px #ba7aff, 2.4px 4.4px 0.005px #ba7aff,
    4.8px -1.4px 0.005px #ba7aff, -0.35px -5px 0.005px #ba7aff,
    -4.95px -0.75px 0.005px #ba7aff, -1.75px 4.7px 0.005px #ba7aff,
    4.2px 2.7px 0.005px #ba7aff, 3.55px -3.5px 0.005px #ba7aff,
    -2.7px -4.2px 0.005px #ba7aff, -4.7px 1.75px 0.005px #ba7aff,
    0.7px 4.95px 0.005px #ba7aff, 5px 0.4px 0.005px #ba7aff,
    1.45px -4.8px 0.005px #ba7aff, -4.35px -2.4px 0.005px #ba7aff,
    -3.3px 3.75px 0.005px #ba7aff, 2.95px 4px 0.005px #ba7aff,
    4.55px -2.05px 0.005px #ba7aff, -1.05px -4.9px 0.005px #ba7aff,
    -5px -0.05px 0.005px #ba7aff, -1.1px 4.9px 0.005px #ba7aff,
    4.55px 2.1px 0.005px #ba7aff, 3.05px -4px 0.005px #ba7aff,
    -3.25px -3.8px 0.005px #ba7aff, -4.4px 2.35px 0.005px #ba7aff,
    1.35px 4.8px 0.005px #ba7aff, 5px -0.3px 0.005px #ba7aff,
    0.75px -4.95px 0.005px #ba7aff, -4.65px -1.8px 0.005px #ba7aff,
    -2.75px 4.2px 0.005px #ba7aff, 3.5px 3.6px 0.005px #ba7aff,
    4.25px -2.65px 0.005px #ba7aff, -1.7px -4.7px 0.005px #ba7aff,
    -4.95px 1.3px 0.005px #ba7aff, -0.8px 5px 0.005px #ba7aff,
    4.8px 1.45px 0.005px #ba7aff, 2.45px -4.35px 0.005px #ba7aff,
    -3.5px -2.7px 0.005px #ba7aff, -4.05px 2.95px 0.005px #ba7aff,
    2px 4.6px 0.005px #ba7aff, 4.9px -2px 0.005px #ba7aff,
    0.2px -5px 0.005px #ba7aff, -4.85px -1.15px 0.005px #ba7aff,
    -2.15px 4.5px 0.005px #ba7aff, 3.95px 3.05px 0.005px #ba7aff;
  color: #6a00da;
}

.flashText-9 {
  font-family: "Combine", sans-serif;
  font-size: 7vw;
  text-shadow: 0px 20px 0.02px #75c3ff, 19.6px 4.2px 0.02px #75c3ff,
    8.4px -18.2px 0.02px #75c3ff, -16px -12px 0.02px #75c3ff,
    -15.2px 13px 0.02px #75c3ff, 9.6px 17.6px 0.02px #75c3ff,
    19.2px -5.6px 0.02px #75c3ff, -1.4px -20px 0.02px #75c3ff,
    -19.8px -3px 0.02px #75c3ff, -7px 18.8px 0.02px #75c3ff,
    16.8px 10.8px 0.02px #75c3ff, 14.2px -14px 0.02px #75c3ff,
    -10.8px -16.8px 0.02px #75c3ff, -18.8px 7px 0.02px #75c3ff,
    2.8px 19.8px 0.02px #75c3ff, 20px 1.6px 0.02px #75c3ff,
    5.8px -19.2px 0.02px #75c3ff, -17.4px -9.6px 0.02px #75c3ff,
    -13.2px 15px 0.02px #75c3ff, 11.8px 16px 0.02px #75c3ff,
    18.2px -8.2px 0.02px #75c3ff, -4.2px -19.6px 0.02px #75c3ff,
    -20px -0.2px 0.02px #75c3ff, -4.4px 19.6px 0.02px #75c3ff,
    18.2px 8.4px 0.02px #75c3ff, 12.2px -16px 0.02px #75c3ff,
    -13px -15.2px 0.02px #75c3ff, -17.6px 9.4px 0.02px #75c3ff,
    5.4px 19.2px 0.02px #75c3ff, 20px -1.2px 0.02px #75c3ff,
    3px -19.8px 0.02px #75c3ff, -18.6px -7.2px 0.02px #75c3ff,
    -11px 16.8px 0.02px #75c3ff, 14px 14.4px 0.02px #75c3ff,
    17px -10.6px 0.02px #75c3ff, -6.8px -18.8px 0.02px #75c3ff,
    -19.8px 2.6px 0.02px #75c3ff, -1.6px 20px 0.02px #75c3ff,
    19.2px 5.8px 0.02px #75c3ff, 9.8px -17.4px 0.02px #75c3ff,
    -15px -13.4px 0.02px #75c3ff, -16.2px 11.8px 0.02px #75c3ff,
    8px 18.4px 0.02px #75c3ff, 19.6px -4px 0.02px #75c3ff,
    0.4px -20px 0.02px #75c3ff, -19.4px -4.6px 0.02px #75c3ff,
    -8.6px 18px 0.02px #75c3ff, 15.8px 12.2px 0.02px #75c3ff;
  color: #2989ff;
}

.flashText-9-small {
  /* smaller text-shadow */
  font-family: "Combine", sans-serif;
  font-size: 1vw;
  text-shadow: 0px 5px 0.005px #75c3ff, 4.9px 1.05px 0.005px #75c3ff,
    2.1px -4.55px 0.005px #75c3ff, -4px -3px 0.005px #75c3ff,
    -3.8px 3.25px 0.005px #75c3ff, 2.4px 4.4px 0.005px #75c3ff,
    4.8px -1.4px 0.005px #75c3ff, -0.35px -5px 0.005px #75c3ff,
    -4.95px -0.75px 0.005px #75c3ff, -1.75px 4.7px 0.005px #75c3ff,
    4.2px 2.7px 0.005px #75c3ff, 3.55px -3.5px 0.005px #75c3ff,
    -2.7px -4.2px 0.005px #75c3ff, -4.7px 1.75px 0.005px #75c3ff,
    0.7px 4.95px 0.005px #75c3ff, 5px 0.4px 0.005px #75c3ff,
    1.45px -4.8px 0.005px #75c3ff, -4.35px -2.4px 0.005px #75c3ff,
    -3.3px 3.75px 0.005px #75c3ff, 2.95px 4px 0.005px #75c3ff,
    4.55px -2.05px 0.005px #75c3ff, -1.05px -4.9px 0.005px #75c3ff,
    -5px -0.05px 0.005px #75c3ff, -1.1px 4.9px 0.005px #75c3ff,
    4.55px 2.1px 0.005px #75c3ff, 3.05px -4px 0.005px #75c3ff,
    -3.25px -3.8px 0.005px #75c3ff, -4.4px 2.35px 0.005px #75c3ff,
    1.35px 4.8px 0.005px #75c3ff, 5px -0.3px 0.005px #75c3ff,
    0.75px -4.95px 0.005px #75c3ff, -4.65px -1.8px 0.005px #75c3ff,
    -2.75px 4.2px 0.005px #75c3ff, 3.5px 3.6px 0.005px #75c3ff,
    4.25px -2.65px 0.005px #75c3ff, -1.7px -4.7px 0.005px #75c3ff,
    -4.95px 1.3px 0.005px #75c3ff, -0.8px 5px 0.005px #75c3ff,
    4.8px 1.45px 0.005px #75c3ff, 2.45px -4.35px 0.005px #75c3ff,
    -3.5px -2.7px 0.005px #75c3ff, -4.05px 2.95px 0.005px #75c3ff,
    2px 4.6px 0.005px #75c3ff, 4.9px -2px 0.005px #75c3ff,
    0.2px -5px 0.005px #75c3ff, -4.85px -1.15px 0.005px #75c3ff,
    -2.15px 4.5px 0.005px #75c3ff, 3.95px 3.05px 0.005px #75c3ff;
  color: #2989ff;
}
